@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 243px;
  height: 375px;
  line-height: 1.5;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  background-color: #adadad;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 10px;
  box-shadow: 20px 20px 45px #a9a9aa;
}

.calculator-screen {
  width: 243px;
  height: 70px;
  background-color: #adadad;
  border-radius: 10px;
  color: #f4f4f4;
  text-align: right;
  font-size: 50px;
}
.calculator-button{
  position: relative;
  width: 60px;
  background-color: #e5e5e5;
  text-align: center;
  font-size: 25px;
  line-height: 60px;
}

.calculator .orange  {
  background-color: #e38e32;
  color: #f4f4f4;
}

.calculator .large {
  flex-grow: .98;
  border-bottom-left-radius: 10px;
}

.calculator .corner{
  border-bottom-right-radius: 10px;
}

.calculator-button:hover {
  transition-delay: 100ms;
  background-color: #c4c4c4;
}

.calculator-button:active {
  transition-delay: 100ms;
  background-color: #afafaf;
}

.calculator .orange:hover {
  transition-delay: 100ms;
  background-color: #d68222;
}

.calculator .orange:active {
  transition-delay: 100ms;
  background-color: #c17620;
}
